.card-form {
  margin-top: 8px;
  overflow: visible;
  min-height: 80px;
  min-width: 272px;
}
.card-box {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  overflow: hidden;
  min-height: 50px;
  height: 100% !important;
}
.card-form__btn_section{
display: flex;
align-items: center;
}
.card-form__btn_section .MuiButton-contained {
  color: white;
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  margin-top: 5px;
}
.close-card-form{
    margin-top: 8px;
    margin-left: 5px;
    color: inherit;
    opacity: 0.5;
    cursor: pointer;
}
